<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Inicio de sesión</title>
</head>
<body>
    <header>
        <h1>Bienvenido</h1>
    </header>

    <section>
        <div class="bg-white rounded-lg shadow-lg p-4 w-25 h-25">
            <form class="md:grid md:grid-cols-1 " action="">
                <label for="email">Correo electrónico:</label>
                <input class="border border-gray-500 rounded" type="email" id="email" name="email">
                <label for="password">Contraseña:</label>
                <input class="border border-gray-500 rounded" type="password" id="password" name="password">
                <input class="mt-2 bg-sky-400 text-white rounded hover:bg-sky-700" type="submit" value="Iniciar sesión">
            </form>
        </div>
    </section>

    <footer>

    </footer>
</body>
</html>